

   
.div{
  display: inline-block;
  align-items: center;
  width:600px;
  height:60px;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  font-size:20px;
  margin:10px;
}

.label{
  
}
.main{
  text-align: center;
}