.div-ele {
  display: inline-flex;
  justify-content: space-evenly;
  width: 700px;
  height: 60px;
  border: 1px solid black;
  background-color: whitesmoke;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}
.label {
  padding-left: 80px;
}
.input-box {
  margin-right: 50px;
}
.table {
  border: 2px solid white;
  font-size: 20px;
  color: white;
}
.table-container {
  margin: 50px;
}
