.divtag{
  
    
    width:600px;
    height:60px;
    border: 1px solid white;
   
    background-color: white;
    margin-bottom:15px;
   
   }
  .div{
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    
  }
  .label{
    gap: 4px;
    padding-right: 10px;
    align-items: center;
  }