.main{
    text-align: center;
}
h3{
    font-size: 2opx;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.divtag{
  
    
    width:600px;
    height:60px;
    border: 1px solid white;
   
    background-color:white;
    
   
   }
  .div{
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:10px;
    padding:10px;

   
    
  }
  .label{
    gap: 4px;
    padding-right: 10px;
    align-items: center;
  }