.App {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  

  
 
}

/* .divtag{
 
  
}*/
/* .divtag{
  border: 1px solid black;
}


 .div{
  padding:10px;
  display: inline-block;
  width:600px;
  height:60px;
  
  background-color: whitesmoke;
  
  font-size:20px;
}
.label{
  color:pink; 
  
  
} 
  



 */
