.input-ele {
  display: inline-flex;
  justify-content: space-evenly;
  width: 700px;
  height: 60px;
  border: 1px solid black;
  background-color: whitesmoke;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

.label {
  padding-left: 100px;
}
.input-box {
  margin-right: 80px;
}
.msg {
  color: yellow;
  font-size: 20px;
}
