.input-ele {
  display: inline-flex;
  justify-content: space-between;
  width: 700px;
  height: 60px;
  border: 1px solid black;
  background-color: whitesmoke;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}
.label {
  padding-right: 20px;
}
.input-box {
  margin-right: 80px;
}
.table {
  width: 100%;
  border: 2px solid white;
  font-size: 20px;
  color: white;
  border-collapse: collapse;
}
table th td {
  border: 2px solid white;
}
.table-container {
  margin: 50px;
}
